{% extends 'base.html' %}

{% block content %}

	{% for message in get_flashed_messages() %}
		{% if message == "User not added, Email adress is already in use!" %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
			{{message}}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		  </div>
		
		{% else %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			 {{message}}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		  </div>
		{% endif %}
	{% endfor %}

	<h1>Register</h1>
	<div class="shadow p-3 mt-1 bg-body-tertiary rounded">
		<form method="POST">
			{{form.hidden_tag()}}

			{{form.username.label(class="form-label")}}
			{{form.username(class="form-control", placeholder = "Username")}}
			
			{{form.name.label(class="form-label")}}
			{{form.name(class="form-control", placeholder = "Name")}}
			
			{{form.email.label(class="form-label")}}
			{{form.email(class="form-control", placeholder = "someone@somewhere")}}
			
			{{form.about_author.label(class="form-label")}}
			{{form.about_author(class="form-control", placeholder= "About Me" )}}
			
			{{form.password.label(class="form-label")}}
			{{form.password(class="form-control", placeholder="*****")}}
			
			{{form.confirm_password.label(class="form-label")}}
			{{form.confirm_password(class="form-control", placeholder="*****")}}
			
			{{form.submit(class="btn btn-success mt-3")}}
		</form>
	</div>
	<br><br>
{% endblock %}