{% extends 'base.html' %}

{% block content %}

	{% include 'shared/flash_message.html' %}


	<form class="form" method="POST" action="">

		<input type="hidden" name="id" value="{{id}}">

		<label for="const_name" class="form-label">Name</label>
		<input type="text" class="form-control" placeholder="{{name}}" name="const_name" readonly>

		<label for="old_pwd" class="form-label">Current Password</label>
		<input type="password" class="form-control" placeholder="*****" name="old_pwd">

		<label for="new_pwd">New Password</label>
		<input type="password" class="form-control" placeholder="*****" name="new_pwd">

		<label for="confirm_new_pwd">Confirm New Password</label>
		<input type="password" class="form-control" placeholder="*****" name="confirm_new_pwd">

		<input type="submit" class="btn btn-info mt-3" value="Update!">

	</form>
{% endblock content %}