{% extends 'base.html' %}

{% block content %}

	{% include 'shared/flash_message.html' %}
	
	<form class="form" method="POST" action="">
		
		<label for="username" class="form-label">Username</label>
		<input type="text" class="form-control" value="{{user.username}}" placeholder="{{user.username}}" name="username">

		<label for="name" class="form-label">Name</label>
		<input type="text" class="form-control" value="{{user.name}}" placeholder="{{user.name}}" name="name">

		<label for="email" class="form-label">Email</label>
		<input type="text" class="form-control" value="{{user.email}}" placeholder="{{user.email}}" name="email">

		<label for="favorite_color" class="form-label">Favorite Color</label>
		<input type="text" class="form-control" value="{{user.favorite_color}}" placeholder="{{user.favorite_color}}" name="favorite_color">

		<label for="confirm_password" class="form-label">Confirm password</label>
		<input type="text" class="form-control" placeholder="User password" name="confirm_password">

		<input type="submit" value="Update!" class="btn btn-info mt-3">
		<a class="link-info mt-5" href="{{url_for('update_user_password', id = user.id)}}">Update Password</a>
		<a class="link-danger mt-5" href="{{url_for('delete_user', id = user.id)}}">Delete</a>
	</form>
{% endblock content%}