{% extends 'base.html' %}


{% block content %}

	{% include 'shared/flash_message.html' %}

	<h1>Add Post</h1>
		<br>
	<form method="POST" class="form shadow p-3 mb-5 bg-body-tertiary rounded">
		
		{{form.hidden_tag()}}
		
		{{form.title.label(class="form-label")}}
		{{form.title(class="form-control", placeholder="My Awesome Title")}}

		{{form.content.label(class="form-label")}}
		{{form.content(class="form-control", rows="5")}} <!--rows indicates, how big does the box seen-->

		{{form.author.label(class="form-label")}}
		{{form.author(class="form-control")}}

		{{form.slug.label(class="form-label")}}
		{{form.slug(class="form-control", placeholder="my_awesome_title")}}

		{{form.submit(class="btn btn-info mt-3")}}

	</form>
{% endblock content %}