{% extends 'base.html' %} {% block content %}

{% include 'shared/flash_message.html' %}

<form class="form shadow p-3 mb-5 bg-body-tertiary rounded" method="POST">
	{{ form.hidden_tag() }}
	
	{{ form.title.label(class="form-label") }}
	{{ form.title(class="form-control", value=post.title, placeholder=post.title) }}
	
	{{ form.content.label(class="form-label") }}
	{% set f = form.content.process_data(post.content) %}
	{{ form.content(class="form-control", placeholder=post.content) }}

	{{ form.slug.label(class="form-label") }}
	{{ form.slug(class="form-control", value=post.slug, placeholder=post.slug) }}
	
	{{ form.submit(class="btn btn-dark mt-3") }}
</form>

{{ ckeditor.load() }}
{{ ckeditor.config(name='content') }}

{% endblock content %}