{% extends 'base.html' %} {% block content %}

{% include 'shared/flash_message.html' %}

<form class="form shadow p-3 mb-5 bg-body-tertiary rounded" method="POST">
	<label for="title" class="form-label">Title</label>
	<input type="text" class="form-control" name="title" value="{{post.title}}">

	<label for="content" class="form-label">Content</label>
	<textarea name="content" id="content" rows="5" class="form-control">{{post.content}}</textarea>

	<label for="slug" class="form-label">Slug</label>
	<input type="text" class="form-control" name="slug" value="{{post.slug}}">

	<input type="submit" class="btn btn-info mt-3" value="Update!">
</form>

{% endblock content %}
