{% extends 'base.html' %}

{% block content %}

	{% for message in get_flashed_messages() %}
		{% if message == "User not added, Email adress is already in use!" %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
			{{message}}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		  </div>
		
		{% else %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			 {{message}}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		  </div>
		{% endif %}
	{% endfor %}

	<h1>User List</h1>
	<div class="shadow p-3 mt-1 bg-body-tertiary rounded">
		<form method="POST">
			{{form.hidden_tag()}}
			{{form.name.label(class="form-label")}}
			{{form.name(class="form-control", placeholder = "Username")}}
			{{form.email.label(class="form-label")}}
			{{form.email(class="form-control", placeholder = "someone@somewhere")}}
			{{form.favorite_color.label(class="form-label")}}
			{{form.favorite_color(class="form-control", placeholder= "Green" )}}
			{{form.password.label(class="form-label")}}
			{{form.password(class="form-control", placeholder="*****")}}
			{{form.confirm_password.label(class="form-label")}}
			{{form.confirm_password(class="form-control", placeholder="*****")}}
			{{form.submit(class="btn btn-success mt-3")}}
		</form>
	</div>
	<br><br>

	<table class="table table-dark table-striped table-hover mt-3">
		<thead>
			<tr>
				<th class="col">#</th>
				<th class="col">name</th>
				<th class="col">email</th>
				<th class="col">Favorite Color</th>
				<th class="col">Password</th>
				<th class="col">action</th>
			</tr>
		</thead>
		<tbody>
			{% for our_user in our_users %}
			<tr scope="row"> <!--table row-->
				<td>{{our_user.id}}</td>
				<td>{{our_user.get_name()}}</td>
				<td>{{our_user.get_email()}}</td>
				<td>{{our_user.favorite_color}}</td>
				<td>{{our_user.shorten_the_password()}}</td>
				<td>
					<a class="btn btn-info" href="/user/{{our_user.id}}">Update</a>
					<a class="btn btn-danger" href="{{url_for('delete_user', id = our_user.id) }}">Delete</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}