{% extends 'base.html' %}

{% block content %}
	{% include 'shared/flash_message.html'%}

	<h1>Welcome to the dashboard!</h1>

	<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
		<div class="row">
			<div class="col-8">
				<h2>Hello <span style="color: red;">{{current_user.username}}!</span></h2>
				<small> <strong>Email:</strong> {{current_user.email}} </small><br>
				<small> <strong>Favorite Color:</strong> {{current_user.favorite_color}} </small><br>
				<small> <strong>Account Date:</strong> {{current_user.date_added}} </small><br>
				<a href="{{url_for('get_user', id = current_user.id)}}" class="link-info">Edit Profile</a> <br>
				<a href="{{url_for('logout')}}" class="link-danger">Log Out</a>
			</div>
			<div class="col-4">
					<img src="{{url_for('static', filename='images/reverse_human.png')}}" alt="Profile Picture" align="right">
			</div>	
		</div>
	</div>

	{% if current_user.username == "sezarfen" %}
	<h1>User List</h1>
	<table class="table table-dark table-striped table-hover mt-5">
		<thead>
			<tr>
				<th class="col">#</th>
				<th class="col">username</th>
				<th class="col">name</th>
				<th class="col">email</th>
				<th class="col">Favorite Color</th>
				<th class="col">Password</th>
				<th class="col">action</th>
			</tr>
		</thead>
		<tbody>
			{% for our_user in our_users %}
			<tr scope="row"> <!--table row-->
				<td>{{our_user.id}}</td>
				<td>{{our_user.username}}</td>
				<td>{{our_user.name}}</td>
				<td>{{our_user.email}}</td>
				<td>{{our_user.favorite_color}}</td>
				<td>{{our_user.shorten_the_password()}}</td>
				<td>
					<a class="btn btn-info" href="/user/{{our_user.id}}">Update</a>
					<a class="btn btn-danger" href="{{url_for('delete_user', id = our_user.id) }}">Delete</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}


{% endblock content %}