{% extends 'base.html' %}

{% block content %}
	<form class="form" method="POST" action="">
		<label for="name" class="form-label">Name</label>
		<input type="text" class="form-control" value="{{user.name}}" placeholder="{{user.name}}" name="name">
		<label for="email" class="form-label">Email</label>
		<input type="text" class="form-control" value="{{user.email}}" placeholder="{{user.email}}" name="email">
		<input type="submit" value="Update!" class="btn btn-info mt-3">
	</form>
{% endblock content%}