<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
	  <a class="navbar-brand" href="{{url_for('index')}}">Navbar</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="{{url_for('form')}}">Form</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="{{url_for('name')}}">Name</a>
		  </li>
		 
		{% if current_user.is_anonymous %} <!-- This property should return True if this is an anonymous user. (Actual users should return False instead.) -->
		 
		  <li class="nav-item">
			<a class="nav-link" href="{{url_for('add_user')}}">Register</a>
		  </li>
		 
		{% endif %}
		  
		  <li class="nav-item">
			<a class="nav-link" href="{{url_for('get_posts')}}">Posts</a>
		  </li>

		{% if current_user.is_authenticated %} <!-- Flask keeps track of it -->
		  
		  <li class="nav-item">
			<a class="nav-link" href="{{url_for('get_dashboard')}}">Dashboard</a>
		  </li>

		  <li class="nav-item">
			<a class="nav-link link-danger" href="{{url_for('logout')}}">Logout</a>
		  </li>
		 
		{% else %}
		  
		  <li class="nav-item">
			<a class="nav-link" href="{{url_for('get_login')}}">Login</a>
		  </li>
		  
		{% endif %}

		</ul>
	  </div>
	  {% if current_user.is_authenticated %}
	 	Hello <strong>{{current_user.name}}</strong> 
	  {% endif %}
	</div>
  </nav>