{% extends 'base.html' %}

{% block content %}

<div class="row mb-3">
	<a href="{{url_for('add_post')}}" class="btn btn-info">Add New Post</a>
</div>

{% include 'shared/flash_message.html' %}

<div class="row">
	{% for post in posts%}
		<div class="card m-3" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">{{post.title}}</h5>
				<h6 class="card-subtitle mb-2 text-muted">{{post.title}}</h6>
				<p class="card-text">{{post.small_content()|safe}}</p>
				<small>Author : {{post.poster.username}}</small> <br>
				<a href="{{url_for('get_single_post', slug = post.slug)}}" class="card-link">Read More</a>
			</div>
	</div>
	{%endfor%}
</div>
{% endblock content %}